.button{
    -fx-font-family: Default ;
    -fx-font-weight : bold;
    -fx-font-size: 20;
    -fx-font-fill: white;
    -fx-font-style: italic;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 5;
    -fx-border-color: #2F0B04;
    -fx-background-radius : 25;
    -fx-animated: slide 5s infinity ;
}
.button:hover{
    -fx-font-weight : bold;
    -fx-background-color: #08d20a;
    -fx-background-radius : 25;
    -fx-font-size: 20;
    -fx-font-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 30px;
    -fx-border-width: 5;

}
.button:pressed{
    -fx-font-weight : bold;
    -fx-background-color: transparent;
    -fx-background-radius : 25;
    -fx-font-size: 20;
    -fx-font-fill: blue;
    -fx-border-radius: 5px;
    -fx-border-color: lightblue;
    -fx-border-width: 5;
    -fx-rotate: 10;

}
@keyframes slide {
    from{left :0px}
    to{left:100px}
}
